<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>

<div> 
<h4>Current Projects</h4>

	<table>
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Project Stage</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="aProject : ${projectsList}">
				<td th:text="${aProject.name}"/>
				<td th:text="${aProject.stage}"/>
			</tr>
		</tbody>
	</table>
</div>	

<br/><br/>

<div>
	<table>
		<thead>
			<tr>
				<th>ID </th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="anEmployee : ${employeesList}">
				<td th:text="${anEmployee.employeeId}"/>
				<td th:text="${anEmployee.firstName}"/>
				<td th:text="${anEmployee.lastName}"/>
				<td th:text="${anEmployee.email}"/>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>