<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/applicationstyle.css}"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

<div th:replace="layouts :: navBody"></div>

<div> 
<h1>Main Dashboard</h1>
</div>

<h3>CURRENT PROJECTS</h3>	
	
	<div class="homeDiv">
		<table class="table">
			<tr>
				<th class="tableHeader">Label</th>
				<th class="tableHeader">Value</th>			
			</tr>
			<tr th:each="projectStage : ${projectStagesList}">
				<td class="tableData" th:text="${projectStage.label}"></td>
				<td class="tableData" th:text="${projectStage.value}"></td>
			<tr>
		</table>
	</div>

	<div class="homeDiv">
		<canvas id="myPieChart" ></canvas>
		<br/><br/>
	</div>
	
	<div style="float:left; width:60%;">
		<h3>EMPLOYEES</h3>
		<div style="width: 83.5%">
			<table class="table">
				<tr>
					<th class="tableHeader">First Name</th>
					<th class="tableHeader">Last Name</th>
					<th class="tableHeader">Project Count</th>
				</tr>
				<tr th:each="employeeProject : ${employeesProjectsList}">
					<td class="tableData" th:text="${employeeProject.firstName}">
					<td class="tableData" th:text="${employeeProject.lastName}">
					<td class="tableData" th:text="${employeeProject.projectCount}">
				
				</tr>
			</table>
		</div>
	</div>
	
<script type="text/javascript" th:src="@{js/myPieChart.js}"></script>

</body>
</html>